.title{
 color: white;
 text-align: center;
}
.subtitle{
  color: white;
  font-size: 1em;
  text-align: center;
}
.error{
  color: red;
}
label{
  color: white;
}
.users{
  margin-top: 1em;
  background: rgba(255,255,255,0.7)
}
